# Built files
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release

# Server
server/node_modules
server/.env
server/logs
server/*.log

# Firebase
app/google-services.json
server/config/firebase-config.json

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.production
